{% extends 'base.html' %}
{% load static %}
{% block title %}
	User story |
{% endblock %}
{% block content %}
	<div id="user_story">
		<h1>{{ user_story.project.name }} - {{ user_story.description }}</h1>
		<h2>Tickets</h2>
		<ul>
			<li>Click on the description to edit</li>
			<li>Press enter to confirm</li>
		</ul>
		<div v-for="ticket in tickets">
			<label>Description:
				<input v-show="ticket.edit == true" v-model="ticket.description"

					   @keyup.enter="updateTicket(ticket)">
				<label v-show="ticket.edit == false" @click="ticket.edit = true"> [[ticket.description]] </label>
			</label>
			<label>
				<select @change="onChange($event, ticket)" v-model="ticket.state">
					<option value="1">Active</option>
					<option value="2">In process</option>
					<option value="3">Finished</option>
				</select>
			</label>
			<div v-for="comment in ticket.comments">

			</div>
		</div>

		<div class="p-3 form-group">
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				{{ form.errors }}
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>

{% endblock %}
{% block scripts %}
	<script>
        let user_story_app = new Vue({
            el: '#user_story',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    tickets: [],
                    ticket_states: ['Active', 'In process', 'Finished'],
                    selected: '',
                    edited: null,
                }
            },
            mounted() {
                this.cargarInfo()
            },
            methods: {
                cargarInfo() {
                    let self = this;
                    axios.get('/api/tickets?user_story=' +{{ user_story.id }})
                        .then(function (response) {
                            self.tickets = response.data
                        })
                },
                onChange(event, ticket) {
                    axios.patch('/api/ticket/' + ticket.id,
                        {
                            state: event.target.value,
                        })
                        .then(function (response) {
                            console.log(response)
                        })
                },
                updateTicket(ticket) {
                    ticket.edit = false
                    axios.patch('/api/ticket/' + ticket.id,
                        {
                            description: ticket.description,
                        })
                        .then(function (response) {
                            console.log(response)
                        })
                },
            },
        });
	</script>
{% endblock %}